Package: ru.precisef0x.vkadsremover
Name: VK Ads Remover
Depends: mobilesubstrate
Version: 1.2.0
Architecture: iphoneos-arm
Description: Твик убирает рекламу в приложении VK App v2.2 - v2.3 и VK HD Appstore v2.0 - v2.0.1 для iPad
Maintainer: Ilya Kambarov <admin@onescript.ru>
Author: Ilya Kambarov <admin@onescript.ru>
Section: Tweaks
